
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="15" />

<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.zEmerson" 
    version = "1.0.0">
    <name>zEmerson</name>
    <description>
        Aplicativo zEmerson
    </description>

        <content src="index.html" />
 </widget>



    <access origin="*" />
    <access origin="*.onesignal.com" />    
    <access origin="http://www.zemerson.com.br" /> 

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
